/*Aqui estamos colocando uma fonte externa*/
@import url(http://fonts.googleleapis.com/css?family=Titillium+web);
@font-face { 
    font-family:'fontelogo' ;
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {
    background-color: #dddddd;
}

div#interface {
    width: 900px; /*Largura da div*/
    background-color: #ffffff;
    margin: -20px auto 0px auto; /*Nas configurações de margem o itens seguem essa ordem cima
     direita, embaixo, esquerda*/
    box-shadow: 0px 0px 10px black ; /*Cria uma sombra em volta do objeto*/
    padding: 10px 10px 10px 10px; /*seguem as mesmas configurações da margin */
}


p {
    /*Colocando todos os paragráfos justificados*/
    text-align: justify;
    /*Criando uma identação*/
    text-indent: 50px;
}

/*Configuração da imagem do cabeçalho*/
header#cabecalho img#icone {
    position: absolute;
    left: 950px;
    top: 70px;
}

header#cabecalho {
    border-bottom: 1px #606060 solid; /*Cofigura uma borda em baixo do container com os 
    parâmetros largura, cor e formato, nesse caso solido*/
    height: 150px; /*Definição de altura do cabeçalho*/
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px; /*Aqui especificamos um fundo com imagem
     e usamos um atributo para que ela não se repita*/
}

header#cabecalho h1 {
    font-family: 'fontelogo', sans-serif; /*Aqui está sendo mudado o estilo de fonte*/
    font-family: 60pt; /*Aqui está sendo mudado o tamanho da fonte*/
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0, .6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    font-family: 'Titilium web, sans-serif';
    color: #888888;
    font-size: 20pt;
    padding: 0px;
    margin-top: 0px;
}


/* Formatação de foto com legenda */
figure.foto-legenda {
    /*Aqui colocamos borda, largura da borda, tipo de borda e cor da borda */
    position: relative;
    border: 8px solid rgb(250, 248, 248);
    box-shadow: 1px 1px 4px rgb(44, 43, 43) ; /*Usado para colocar sombra com parâmentros: deslocamento horizontal, 
    deslocamento vertical, espalhamento e cor */
}

figure.foto-legenda img {
    width: 100%; /* Definição de largura*/
    height: 100%; /*Definição de altura*/
}

figure.foto-legenda figcaption {
  opacity: 0;  
  position: absolute;  
  top: 0px;
  background-color: rgba(0,0,0,.4);
  color:white;
  /*Colocar a borda ocupando todo o espaço*/
  width: 100%;
  height: 100%;
  padding: 10px;
  /*Aqui criamos um box dentro do border*/
  box-sizing: border-box;
  /*Criando um efeito de transição*/
  transition: opacity 1s;

}

/*Cria o efeito de aparecer a legenda após o mouse passar por cima*/
figure.foto-legenda:hover figcaption {
    opacity: 1;
}


/*Configuração da posição do menu*/
nav#menu {
    display: block; /*Transforma todo o menu em um mesmo bloco(um bloco pode flutuar pela tela)*/
}

/*Configuração do menu*/
nav#menu ul {
    list-style: none; /*Remove a marcação da lista*/
    text-transform: uppercase; /*Transforma as letras do menu em maiusculas*/
    position: absolute; /*Dessa forma consigo colocar o bloco em qualquer lugar da página*/
    top: -20px; /*Coloca o objeto no topo*/
    left: 500px; /*Coloca o objeto a direita da tela*/
}

/*Faz o texto que está dentro da tag h1 ficar invisível*/
nav#menu h1 {
    display: none;
}

/*Configuração de cada lista do menu*/
nav#menu li {
    display: inline-block; /*Exibe o bloco em uma mesma linha*/
    background-color: #dddddd; /*Coloca cor no fundo de cada opção do menu*/
    padding: 10px; /*Cria um espaço interno*/
    margin: 2px; /*Cria um espaço externo*/
    transition: background-color 1s;
}

/*Ação execultadad quando o mouse possar por cima de cada botão do menu*/
nav#menu li:hover {
    background-color: #140707;
}

nav#menu a {
    color: black;
    text-decoration: none; /*Com isso, retirei todo o sublinhado do texto*/
}

/*Ações que acontecerão toda vez que o mouse passar por cima do menu*/
nav#menu a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/*Formatação sa section corpo*/
section#corpo {
    display: block; /*Faz a section virá um bloco*/
    width: 500px; /*Largura definida para a section*/
    float: left; /*A section irá flutauar a esquerda*/
    border-right: 1px solid #606060; /*Cria uma borda do lado direito*/
    padding-right:20px ;
}

/*Formatação da barra lateral*/
aside#lateral {
    display: block;
    width: 350px;
    float: right; /*A section irá flutuar a direita*/
}

footer#rodape {
    clear: both; /*Usado para limpar toda as flutuações laterais*/
    border-top: 1px solid #606060;
}
 footer#rodape p {
     text-align: center;
 }